<img src="http://drive.google.com/uc?export=view&id=1tpOCamr9aWz817atPnyXus8w5gJ3mIts" width=500px>

Proprietary content. Â© Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.

---
# Hands-on - Advanced Certificate in Software Engineering - IIT Madras
---

# Instructions

- You need to add the code where ever you see "`#### Add your code here ####`"
- Marks are mentioned along with the cells
- **Do not edit any of the prefilled text/code part**

## Run below cells before starting the test - Mandatory

In [ ]:
#### Please run this cell. Don't edit anything ####

!pip install --upgrade pip
!pip install ipython-sql

%load_ext sql
%sql sqlite://

Requirement already satisfied: pip in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (20.3.1)
Requirement already satisfied: ipython-sql in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (7.18.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: traitlets>=4.2 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: decorator in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: jedi>=0.10 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: backcall in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (47.1.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.1)
Requirement already satisfied: wcwidth in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\vivek.p\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (0.2.0)

## <font color='blue'> Please run the following cell. Don't edit anything </font>

In [ ]:
%%sql


CREATE TABLE if not exists `user`(
  `user_id` VARCHAR(50) NOT NULL,
  `user_name` VARCHAR(50) NOT NULL,
  `email` VARCHAR(50) NOT NULL UNIQUE,
  `access_level` VARCHAR(50)
);
 
INSERT INTO `user` (`user_id`,`user_name`,`email`,`access_level`) VALUES ('U101','Alex','alex@office.com','Normal');
INSERT INTO `user` (`user_id`,`user_name`,`email`,`access_level`) VALUES ('U102','Dwight','dwight@office.com','Admin');
INSERT INTO `user` (`user_id`,`user_name`,`email`,`access_level`) VALUES ('U103','Michael','micael@office.com','Admin');
INSERT INTO `user` (`user_id`,`user_name`,`email`,`access_level`) VALUES ('U104','Jim','jim@office.com','Admin');
INSERT INTO `user` (`user_id`,`user_name`,`email`,`access_level`) VALUES ('U105','Pam','pam@office.com','Normal');



CREATE TABLE if not exists `products`(
  `product_id` VARCHAR(50) NOT NULL,
  `product_name` VARCHAR(50) NOT NULL,
  `brand_name` VARCHAR(50) NOT NULL,
  `price` INT
);
 
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('1','soap','vivel',10);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('2','box','naman',15);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('3','shampoo','vivel',30);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('4','detergent','quarts',20);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('5','brush','pepsod',100);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('6','fridge','kelvinator',35);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('7','cooler','kelvinator',40);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('8','shirt','raymond',60);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('9','heater','kelvinator',70);
INSERT INTO `products` (`product_id`,`product_name`,`brand_name`,`price`) VALUES ('10','trouser','raymond',21);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## <font color='blue'> Please run the following cell. Don't edit anything </font>

In [ ]:
%%sql

select * from user;

 * sqlite://
Done.

[('U101', 'Alex', 'alex@office.com', 'Normal'),
 ('U102', 'Dwight', 'dwight@office.com', 'Admin'),
 ('U103', 'Michael', 'micael@office.com', 'Admin'),
 ('U104', 'Jim', 'jim@office.com', 'Admin'),
 ('U105', 'Pam', 'pam@office.com', 'Normal')]

## <font color='blue'> Please run the following cell. Don't edit anything </font>

In [ ]:
%%sql

select * from products;

 * sqlite://
Done.

[('1', 'soap', 'vivel', 10),
 ('2', 'box', 'naman', 15),
 ('3', 'shampoo', 'vivel', 30),
 ('4', 'detergent', 'quarts', 20),
 ('5', 'brush', 'pepsod', 100),
 ('6', 'fridge', 'kelvinator', 35),
 ('7', 'cooler', 'kelvinator', 40),
 ('8', 'shirt', 'raymond', 60),
 ('9', 'heater', 'kelvinator', 70),
 ('10', 'trouser', 'raymond', 21)]

## Question 1 (4 Marks)

Count the number of `user_id` with `Normal` access_level in the `user` table.

In [ ]:
%%sql

## Delete this comment line and write your code here. ##

## Question 2 (3 Marks)

Print the all the product information for `brand_name` `vivel` in the  `products` table.

In [ ]:
%%sql

## Delete this comment line and write your code here. ##

## Question 3 (3 Marks)

Print the all the unique `brand_name` from the `products` table.

In [ ]:
%%sql

## Delete this comment line and write your code here. ##