<img src="http://drive.google.com/uc?export=view&id=1tpOCamr9aWz817atPnyXus8w5gJ3mIts" width=500px>

Proprietary content. Â© Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.

---
# Baseline Test - Advanced Certificate in Software Engineering - IIT Madras
---

# Instructions

- You need to add the code where ever you see "`/* Add your code here */`"
- Marks are mentioned along with the cells
- **Do not edit any of the prefilled text/code part**

## Run below cells before starting the test - Mandatory

#### Please run the below cell. Don't edit anything.

In [ ]:
!pip install --upgrade pip
!pip install ipython-sql

%load_ext sql
%sql sqlite://

#### Please run the below cell. Don't edit anything.

In [ ]:
%%sql

CREATE TABLE if not exists `product` (
   `product_id` char(10) DEFAULT NULL,
   `product_name` varchar(24) DEFAULT NULL,
   `price` int(11) DEFAULT NULL,
   `product_category` varchar(45) DEFAULT NULL
 );
 
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P01','iphone 11',64000,'Mobile');
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P02','ipad pro',81000,'Tablet');
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P03','macbook air',75000,'Laptop');
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P04','Sony 43 inch',55000,'TV');
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P05','Samsung M31S',22000,'Mobile');
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P06','Samsung A01',9000,'Mobile');
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P07','Samsung 43 inch',45000,'TV');
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P08','logi Keyboard',8500,'Accessories');
INSERT INTO `product` (`product_id`,`product_name`,`price`,`product_category`) VALUES ('P09','Apple Pencil',8500,'Accessories');

 
CREATE TABLE if not exists `customer` (
 `customer_id` int(11) DEFAULT NULL,
 `customer_name` varchar(15) DEFAULT NULL,
 `credit_limit` int(11) DEFAULT NULL);

INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (1,'Liya',32000);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (2,'Jane',35000);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (3,'Tom',40000);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (4,'John',30000);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (5,'Lizzy',36000);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (6,'Maria',25000);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (7,'Kate',28500);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (8,'Ben',50000);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (9,'Ford',90000);
INSERT INTO `customer` (`customer_id`,`customer_name`,`credit_limit`) VALUES (10,'Stonq',100000);

#### Please run the below cell. Don't edit anything.

In [ ]:
%%sql

select * from product;

#### Please run the below cell. Don't edit anything.

In [ ]:
%%sql

select * from customer;

---

### **Refer to the `product` and `customer` table to answer the below questions**

## Question 1 (6 Marks)

Find out the lowest and highest price for each `product_category` in `product` table. 

Your query response should have three columns **product_category, min_price, max_price**.

In [ ]:
%%sql

/* Add your code here */

## Question 2 (6 Marks)

Print details of top 5 customers with maximum credit limit in a descending order.

Your query response must have three columns **customer_id, customer_name, credit_limit**.

In [ ]:
%%sql

/* Add your code here */

## Question 3 (8 Marks)

For every customer, find out the products they can buy using their credit limit and order them by `customer_name`.
- Note: Customers can only buy products which are priced less than their credit limit.

Your query response must have 6 columns, **customer_id, customer_name, credit_limit, product_id, product_name, price**. Every row should be a unique pair of `customer_id` and `product_id`.

In [ ]:
%%sql

/* Add your code here */